language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

script:
  - mkdir -p build/logs build/cov
  - vendor/bin/phpunit --verbose --colors --coverage-text --coverage-clover ./build/logs/clover.xml -c phpunit.xml.dist;

after_script:
  - vendor/bin/coveralls
