body {
    padding-top: 70px;
    margin-bottom: 15px;
}

tbody th {
    text-align: center;
}

h2 a.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

th a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

#anchorMenu a {
    padding: 10px;
}

.tab-pane {
    padding-top: 10px;
}

.note {
    font-size: 11px;
    color: #666666;
}

.footer {
    font-size: 12px;
    color: #666;
}

.label {
    display: inline-block;
    min-width: 65px;
    padding: 0.3em 0.6em 0.3em;
}

.popover {
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
}
